/* local fonts */

@font-face {
    font-family: "mona-sans";
    src: url("./assets/fonts/mona-sans/Mona-Sans.woff");
}

.source-serif {
    font-family: "Source Serif 4", serif;
}


:root {
    --hero-skin: #f8f7f4;
    --nav-font: 15.3px;
    --nav-line-h: 50px;
}

/* default page styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background: rgba(255,218,121,0.5);
}

/* custom stylings */
a {
    text-decoration: none;
    color: black;
}

.divider {
    width: 100%;
    height: 1px;
    background: #ccccccd7;
}

button {
    appearance: none;
    border: none;
    outline:none;
    background: none;
    cursor: pointer;
}
/* custom stylings */


/* style our hero */

.hero {
    background: var(--hero-skin);
    /* max-width: this is how far you can go before you stop */
    /* max-width: 2500px; */
    width: 100%;
    /* height: 100%; */
    min-height: 500px;

    font-family: "mona-sans";
}
/* style our hero */



/* style nav bar */

.nav-container {
    padding: 0 2rem;
    padding-top: 1.4rem;
    width: 100%;
    min-width: 345px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    width: 50.333%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-left ul {
    list-style: none;
    display: flex;
    gap: 1.2rem;
}

.nav-left ul .nav-item {
    /* background: #000; */
    line-height: var(--nav-line-h);
    font-weight: 600;
    font-size: var(--nav-font);
    cursor: pointer;
}

.nav-left .dropdown > .dropdown-btn {
    display: flex;
    gap: .5rem;
    align-items: center;
}

/* style dropdown */
.dropdown {
    position: relative;
}


.drop-menu {
    width:  239px;
    min-height: 100px;
    overflow: hidden;
    background: #fff;

    position: absolute;
    left: 0;
    padding: 1.4rem;

    box-shadow: 0px 0px 0px 0px rgba(13,12,34,0.02), 0px 18px 39px 0px rgba(13,12,34,0.02), 0px 71px 71px 0px rgba(13,12,34,0.02), 0px 159px 95px 0px rgba(13,12,34,0.01), 0px 283px 113px 0px rgba(13,12,34,0), 0px 442px 124px 0px rgba(13,12,34,0);
    border-radius: 15px;

    opacity: 0; /* hiding the drop menu here */
    pointer-events: none; /* this is the dropdown trick !!! */
}


.drop-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.drop-item >  h3, p{
    line-height: 20px;
    font-weight: lighter;
}

.drop-item h3 {
    color: #0d0c22de;
    font-size: 14px;
}

.drop-item > p {
    color: #0d0c22;
    font-size: 11.8px;

}


/* styling right nav */
.nav-right {
    display: flex;
    gap: 1.3rem;
    align-items: center;
}

.nav-right .input-control  {
    background: #fff;
    /* position: relative; */
    display: flex;
    align-items: center;
    border-radius: 40px;
    gap: .5rem;
    width: 300px;
}
.input-control input {
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
    height: 40px;
    font-size: var(--nav-font);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
}

.input-control span {
    display: block;
    width: 35px;
    height: 45px;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #6e6d7a;
}

.search-btn {
    display: none;
    line-height: var(--nav-line-h);
}

.auth-btn {
    line-height: var(--nav-line-h);
}

.auth-btn a:nth-child(1){
    margin-right: 1rem;
    font-size: var(--nav-font);
    font-weight: 500;
}

.auth-btn a:nth-child(2), .btn-invert{
    background: #0d0c22;
    padding: 1.1rem 1.2rem;
    border-radius: 45px;
    color: #fff;
    font-size: var(--nav-font);
    font-weight: 500;
}



/* HERO TEXT SECTION */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8rem 0;
}

.hero-section .hero-text {
    width: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text-animation {
    margin-bottom: 2.2rem;
    background: rgba(143, 65, 233, 0.363);
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: 50px;
    font-weight: bold;
    animation: color-effect 15s linear infinite alternate;

}

.hero-text h1 {
    font-size: 4.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}
.hero-text p {
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 500;
    color: #2c2c2c;
}
.hero-text button {
    font-weight: 600;
    margin-top: 1.5rem;
}

/* scroll image container */
.scroll-images-container {
    width: 100%;
    overflow: hidden ;
    padding-bottom: 3rem;
}
.images-trail {
    display: flex;
    gap: 2rem;
    align-items: center;
    animation: trail-image 10s linear  infinite;
}
.image-box {
    position: relative;
    width: 320.54384374px;

    min-width: 270.54384374px;
    height: 370.54384374px;
    border-radius: 20px;
}

.image-box img, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.image-box .bio {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 1rem 1rem;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap:.4rem;
    font-size: 13px;
    font-weight: 600;
}
.bio .tags {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.bio .tags .tag {
    width: fit-content;
    padding: .2rem .5rem;
    border: 1px solid #fff;
    border-radius: 15px;
}

/* Effect */
.dribble-logo:hover,
.nav-left ul >  .nav-item:hover .dropdown-btn, .nav-item:hover a {
    opacity: .7; 
    transition: .5s opacity;
}

.dribble-logo:hover,
.nav-left ul .nav-item:hover .drop-menu{
    opacity: 1;
    pointer-events: all;
    transition: .5s all;

}

.nav-left .dropdown>.dropdown-btn:hover span:nth-child(2) {
    transform: rotate(180deg);
    transition: .5s transform;
}

/* auth inputs */
.nav-right .input-control:hover  {
    outline: 3px solid rgba(255, 30, 0, 0.096);
}

.auth-btn a:nth-child(2):hover, .btn-invert:hover {
    background: rgba(0, 0, 0, 0.76);
    transition: .3s background;
}

/* new */
.input-control:focus-within {
    outline: 3px solid rgba(255, 30, 0, 0.096);
}

@keyframes color-effect {
    0%, 20% {
        background: #a8f16381;
    }

    20%, 40% {
        background: rgba(235, 72, 72, 0.411);
    }

    40%, 60% {
        background: rgba(250, 190, 79, 0.315);
    }
    60%, 80% {
        background: rgba(128, 128, 128, 0.308);
    }
    80%, 100% {
        background: rgba(142, 240, 240, 0.315);
    }
}


@keyframes trail-image{
    /* 0% { 
        transform: translateX(2.3rem)
    }
    100% {
        transform: translateX(calc(-340px * 8 + 2rem));
    } */

    50% { 
        transform: translateX(-120%)
    }

    100% { 
        transform: translateX(calc(-200%))
    }
}

/* Effects ends here */


@media screen and (max-width: 1392px) {
    .nav-left {
        --nav-font: 13px;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        gap: 2rem;

        width: fit-content;
    }
}



@media screen and (max-width: 1050px) {
    .search-btn {display: block;}
    .nav-right form {display: none;}
}



@media screen and (max-width: 944px) { 
    .nav-left ul {
        display: none;
    }
}

@media screen and (max-width: 600px) { 
    .nav-container {
        padding: 0 1rem;
        padding-top: 1.3rem;
    }
}
